
body{
  background-color: rgb(251,244,238);
}

/*  */
.header-wrapper {
    
  background-color: rgb(255, 255, 255);
  color: rgb(89, 33, 207);
  padding: 24px 0;
  box-shadow: 0px 5px 5px rgba(188, 183, 183, 0.3);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  
}

/* navbar and logo */
.navbar-logo{
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 0.25rem;
  cursor: pointer;
  width: 15%;

}

.navbar-toggle{
  font-size: 16px;
  background-color: transparent;
  color: #2D2D32; 
  margin: 4px;
  
}
.navbar-toggle:hover{
  color: #8359db;
}
  
.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;

}


/* services and join */
.navbar-menu{
  display: flex;
  gap: 0.25rem;
  width: 33%;
  margin-left: 4px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-item a {
  text-decoration: none;
  color: #000;
  font-size: 100%;
  line-height: 160%;
  font-weight: 600;
  vertical-align: baseline;
  font-family: 'Poppins', sans-serif;
  
}

.nav-item a:hover {
  text-decoration: none;
}
.navbar-btn{
  color: rgb(16, 96, 71);
  border: none;
  background-color: rgb(218, 248, 230);
  margin-left: 4px;
  cursor: pointer;
  padding: 6px;
  font-weight: 600;
  text-decoration: none;
  
}

.twirl{
  padding: 2px;
}


/* search and location */

.navbar-location{
  width: 40%;
}
.input-group{
  border-bottom: 1.5px solid #000;
  width: 100%;
  padding-bottom: 8px;
  display: flex;

}

.search-icon, .map-icon {
text-decoration: none;
font-size: 15px;
width: 10%;
cursor: pointer;
}
.search-field{
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 53%;
  outline: none;
}
.location-field{
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 25%;
  outline: none;
  appearance: none;
  color: #7a7b7d;

}
.location-option{
padding: 6px;
}


select option {
background-color: #fff;
color: #000;
font-size: 14px;
padding: 8px;
margin: 15px;
border: 1px solid #666;
}
.input-group.focused {
border-bottom: 1.5px solid #8359db;
}

.location-field{
padding-left: 5px;
padding-left: 5px;
width: 50%;
}



/* user login */
.navbar-login{
width: 7%;
display: flex;
color:#000;
gap: 4px;

}

.navbar-login:hover{
color: #8359db;
}
.user-icon{
text-decoration: none;
font-size: 18px;
cursor: pointer;

}
.nav-user{
border: none;
font-family: 'Poppins', sans-serif;
font-size: 16px; 
font-weight: 600;
cursor: pointer;
}

/* sidebar  offCanvas*/
.offcanvas-menu {
  position: fixed;
  top: 0;
  left: -350px; 
  width: 350px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 0 10px rgb(188, 183, 183, 0.3);; 
  transition: left 0.3s ease; 
  z-index: 999;
}

.offcanvas-menu.open {
  left: 0; 
} 

.sidebar.closed {
  left: -250px;

}
.sidebar-header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: rgb(89, 33, 207);
  margin: 24px;
  align-items: center;
}

.logo {
  color: rgb(89, 33, 207);
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.close-icon{
  background-color: transparent;
  color: #2D2D32; 
  padding: 3px;
  margin-right: 2px;
  
}
.close-icon:hover{
  color: #8359db;
}







